* {
    box-sizing: border-box;
    
}

.body {
    margin: 0;
    
}
.container {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;
    top: 27.5%;
}

.navbar ul {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;
    position: absolute;
    right: 1rem;
 
}

.navbar li {
    display: inline;
}

.navbar li:not(:last-child) {
    display: inline;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.navbar li a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    font-family: arial, sans-serif;
    
}

.navbar li a:hover {
    text-decoration: underline;
    text-decoration-color: rgba(0,0,0,0.87);
}
.account-icon {
    border-radius: 100%;
    vertical-align: middle;
    position: relative;
    left: 1.3rem;
}

.google-apps {
    width: 11.5%;
    display: inline-block;
    opacity: 0.6;
    vertical-align: middle;
    position: relative;
    left: 0.45rem;
} 

.input {
    position: absolute;
    top: 40%;
    text-align: center;
    margin: 0 auto;
    width:  575px;
    border-radius:30px;
    border: 1px solid #dcdcdc;
}

.input:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.input:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
}

.input input {
    
    height: 45px;
    border: none;
    width:  450px;
    font-size: 16px;
    outline: none;
        
}

.mic {
    height: 20px;
    position: relative;
    top: 5px;
    left: 45px;
}

.keyboard {
    position: relative;
    right: 1.25rem;
    top: 1px;
}

.search {
    opacity: 0.3;
    
    position: absolute;
    left: 15px;
    top: 11.5px;
}

button {
    background-color: #f8f9fa;
    border: none;
    color:  #3c4043;
    font-size:  15px;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 4px;
    outline: none;
}

button:hover    {
    border: 1px solid #c8c8c8;
    padding: 9px 14px;
    color:#3c4043;
}
button:focus    {
    border:1px solid #4885ed;
    padding: 9px 19px;
}

.buttons {
    position: absolute;
    top: 48%;
}

.text {
    font-size: small;
    font-family: arial, sans-serif;
    color: #222;
    position: absolute;
    top: 54%;
}

.text a {
    text-decoration: none;
    color: #1a0dab;
    margin: auto 3.9px;
}

.footer {
    background-color: #f2f2f2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding-bottom: 1rem;
 
}

.footer-text {
    padding: 7.5px 30px;
    color: rgba(0,0,0,.54);
    font-size: 15px;
    font-family: arial,sans-serif;
    padding-bottom: 1px;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer li {
   float: left;
}

.footer hr {
    margin-bottom: 1rem;
    padding: 0 20px;
    opacity: 0.5;
    height: 1px;
    
}

.footer li a {
    padding: 15px 15px;
    margin-left: 15px;
    color: rgba(0,0,0,.54);
    font-size: 15px;
    font-family: arial,sans-serif;
    text-decoration: none;
}
.footer li a:hover { 
    text-decoration: underline;
    text-decoration-color: rgba(0,0,0,0.87);
}
